<footer class="container">
	<hr>
	<p class="muted">&copy; {{ request.site.author }} &mdash; <a href="{{ request.route_url('web:admin') }}">Admin <span class="glyphicon glyphicon-cog"></span></a></p>
</footer>